extends ../layout

block content
    h1 Edureka's Courses List
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Course Name
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="contact") Course Id
            input#contact(type="text", class="form-control", name="contact")
        .form-group
            label(for="city") Course Durations(Hrs)
            input#city(type="text", class="form-control", name="city")
        .form-group
            label(for="service") Course Fee(USD)
            input#service(type="text", class="form-control", name="service")
        input(type="submit", class="btn btn-info")
        