extends ../layout

block content
    h1 Edureka's Courses List
    form(action="/products/edit/"+product._id,method="post")
        .form-group
            label(for="name") Course Name
            input#name(type="text", class="form-control", name="name",value=product.name)
        .form-group
            label(for="contact") Course Id
            input#contact(type="text", class="form-control", name="contact",value=product.contact)
        .form-group
            label(for="city") Course Durations(Hrs)
            input#city(type="text", class="form-control", name="city",value=product.city)
        .form-group
            label(for="service") Course Fee(USD)
            input#service(type="text", class="form-control", name="service",value=product.service)
        input(type="submit", class="btn btn-info")
        