extends ../layout

block content
    .row
        .col-sm-8
            h1 Edureka's Courses List
        .col-sm-4
            a(href="/products/add", class="btn btn-success float-right") Create New
    table.table
        thead
            tr
                th Course Name
                th Course Id
                th Course Durations(Hrs)
                th Course Fee(USD)
                th actions

        tbody
            each product in products
                tr  
                    td=product.name
                    td=product.contact
                    td=product.city
                    td=product.service
                    td
                        a(href="/products/delete/"+product._id, class="btn btn-danger") Delete
                        a(href="/products/edit/"+product._id, class="btn btn-warning") Edit


